@import "colors";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.resource-overview {
  display: inline-block;
  vertical-align: top;

  /*border: 1px solid black;*/
  margin-left: 5px;
  margin-right: 5px;
  background: #dbeef4;
  box-shadow: 2px 3px 10px #e1e1e1;
  /*  padding-left: 5px;*/
  /* padding-right: 5px;*/
}

.tree {
  display: inline-block;
  vertical-align: top;
  min-width: 200px;
  /*border: 1px solid black;*/
  margin-left: 5px;
  margin-right: 5px;
  background: #dbeef4;
  box-shadow: 2px 3px 10px #e1e1e1;
  /*  padding-left: 5px;*/
  /* padding-right: 5px;*/
  .tree-title {
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .tree-node{
    display: block;
    text-align: left;
    width: 100%;
    margin-right: 5px;
    .text {
      display: inline-block;
      padding-bottom: 3px;
      padding-top: 3px;
      vertical-align: text-top;
      margin-right: 15px;

      .edit-link{
        float: right;
        cursor: pointer;
      }
    }
    .active {
      background-color: $primary-color-faded;
    }
    .content {
      //padding-left: 15px;
      &:hover {
        background-color: $primary-color;
        cursor: pointer;
      }
    }
  }
}

.resource-overview-title {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}

.resource-node {
  display: block;
  text-align: left;
  width: 100%;
  margin-right: 5px;
  .text {
    display: inline-block;
    padding-bottom: 3px;
    padding-top: 3px;
    vertical-align: text-top;
  }
  .active {
    background-color: $primary-color-faded;
  }
  .content {
    //padding-left: 15px;
    &:hover {
      background-color: $primary-color;
      cursor: pointer;
    }
  }

}

.sub-resources {
  //padding-left: 15px;
}

/*.permission-table {
  border-collapse: collapse;
  border-spacing: 0px;

  tbody {

    &.role-row:nth-child(2n - 1) {
      background-color: $background-color-expanded;
    }

    !* role name is clickable therefore this makes only this td highlightable and with cursor *!
    tr:nth-child(2n - 1) {
      td:first-child {
        cursor: pointer;
        &:hover {
          color: $primary-color;
        }
      }
    }
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-spacing: 1px;
  }
  &:nth-child(n) {
    border-top-width: 5px;
    border-color: red;
  }
  tr {

    &:first-child {
      text-align: left;
    }
    th, td {
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    !*
    top - left - bottom - right
     *!
  }
}*/

.permission-overview {
  position: relative;

  .header {
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 5px;
    > div {
      display: inline-block;
      width: 75px;
    }
    :first-child {
      width: auto;
      text-align: left;
    }
  }
  .body {
    .role-row {
      min-height: 50px;
      .text {
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 10px;
        &.selectable {
          &:hover {
            color: $primary-color;
          }
        }
      }
      .permissions {
        float: right;
        > div {
          width: 75px;
          display: inline-block;
        }
      }
    }

    .role-row-content {
      display: inline-block;
      width: 100%;
      > div {
        display: inline-block;
      }
    }
    ul {
      position: relative;
      list-style: none;
      padding-left: 32px;

      > li:last-child::after {
        height: 27px;
      }
    }

    li {
      text-align: left;
      position: relative;
      &::before, &::after {
        content: "";
        position: absolute;
        left: -12px;
      }
      &::before {
        border-top: 1px solid #000;
        top: 28px;
        width: 8px;
        height: 0;
      }

      &::after {
        border-left: 1px solid #000;
        height: 100%;
        width: 0px;
        top: 2px;
      }
    }
  }
}


.permission-tabs{
  margin-top: 10px;
}